<div class="maincontent">

  <article class="article">
    <h1 class="article-title">About Fun With Friends</h1>
      This is the best website to do fun chat 
          with your friends in a very interesting and fun manner 
          do use it and -just go for it.</p>
  </article><!-- article -->


</div>
